<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="article">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		articleId,
		userId,
	   (select u.userName from user u where u.userId = userId ) userName, 
		title,
		content,
		publishedTime
	</sql>
	<!-- 查询 -->
	<select id="query" resultType="Article" parameterType="java.util.HashMap">
		select a.*,u.username from article a,user u
			<where>
				u.userId = a.userId
				 <if test="t.title != null and t.title != ''">
					 and a.title like '%${t.title}%'
				 </if>
			</where> 
	</select>
	
	<!-- 查询 -->
	<select id="queryAll" resultType="Article" parameterType="Article">
		select a.*,u.username from article a,user u where u.userId = a.userId
	</select>

	<!-- 总记录数 -->
	<select id="count" parameterType="Article" resultType="int">
		select count(*) from article a,user u
		<where>
		  u.userId = a.userId
		  <if test="title != null and title != ''">
					 and a.title like '%${title}%'
				 </if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="add" parameterType="Article">
		insert into article (userId,title,content) 
		values(#{userId},#{title},#{content})
	</insert>
	
	<!-- 删 -->
	<delete id="deleteById" parameterType="String">
		delete from article
		where articleId=#{articleId}
	</delete>
	
	<select id="getById" parameterType="String" resultType="Article">
		select * from article where articleId= #{articleId}
	</select>
	
	<!-- 更新 -->
	<update id="update" parameterType="Article">
	    update article
	    <set>
	        <if test="title !=null and title != ''">
	        	title = #{title},
	        </if>
	        <if test="content !=null and content != ''">
	        	content = #{content}
	        </if>
	    </set>
	      where articleId = #{articleId}
	</update>
</mapper>