<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderlist">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		orderId,
		userId,
		productId,
		productNum,
		productSumPrice,
		userAddress,
		userPhone
	</sql>
	<!--resultType="orderList" 每返回一条结果封装到orderList里 -->
	<select id="query" resultType="OrderList" parameterType="java.util.HashMap">
		select o.orderId,
		o.userId,
		o.productId,
		o.productNum,
		o.productSumPrice,
		o.userAddress,
		o.userPhone
		,p.productName,p.price,u.userName from
		orderList o,product p,user u
		where
		o.productId = p.productId
		and
		o.userId = u.userId
			<if test="t.userName != null and t.userName != ''">
				and u.userName like '%${t.userName}%'
			</if>
			<if test="t.orderId != null and t.orderId != ''">
				and o.orderId = #{t.orderId}
			</if>
			<if test="t.productName != null and t.productName != ''">
				and p.productName like '%${t.productName}%'
			</if>
		order by o.productSumPrice desc
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="OrderList">
		insert into orderList
		(
		orderId,
		userId,
		productId,
		productNum,
		productSumPrice,
		userAddress,
		userPhone )

		values (
		#{orderId}
		,#{userId}
		,#{productId}
		,#{productNum}
		,#{productSumPrice}
		,#{userAddress}
		,#{userPhone}


		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from orderList
		where
		orderId=#{orderId}
	</delete>
	<select id="getById" parameterType="String" resultType="OrderList">
		select
		o.orderId,
		o.userId,
		o.productId,
		o.productNum,
		o.productSumPrice,
		o.userAddress,
		o.userPhone
		,p.productName,p.price,u.userName from orderList o,product p,user u
		where
		o.productId = p.productId
		and
		o.userId = u.userId
		and
		orderId=#{orderId}
	</select>
	<update id="update" parameterType="OrderList">
		UPDATE orderList set
		productNum = #{productNum}
		,productSumPrice = #{productSumPrice}
		,userAddress = #{userAddress}
		,userPhone = #{userPhone}
		WHERE
		orderId=#{orderId}
	</update>
</mapper>