<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rates">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		channelname,
		tradingRates,
		settlementCosts,
		holidayCosts,
		settlementCaps,
		updateTime,
		mark
	</sql>
	<!--resultType="rates" 每返回一条结果封装到rates里 -->
	<select id="query" resultType="Rates" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from rates
		<where>
			<if test="t.channelname != null and t.channelname != ''">
				channelname like '%${t.channelname}%'
				</if>
			<if test="t.mark != null and t.mark != ''">
				and mark like '%${t.mark}%'
				</if>
		</where>
	</select>
	<!-- 总记录数 -->
	<select id="count" parameterType="Rates" resultType="int">
		select count(0) from rates
		<where>
			<if test="channelname != null and channelname != ''">
				channelname like '%${channelname}%'
				</if>
			<if test="t.mark != null and t.mark != ''">
				and mark like '%${t.mark}%'
				</if>
		</where>
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="Rates">
		insert into rates ( channelname,
		tradingRates, settlementCosts,
		settlementCaps, mark)
		values (#{channelname},
		#{tradingRates}, #{settlementCosts},#{holidayCosts},
		#{settlementCaps},
		#{mark})
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from rates where
		id=#{id}
	</delete>
	<select id="getById" parameterType="String" resultType="Rates">
		select
		<include refid="selectId" />
		from rates where id=#{id}
	</select>
	<update id="update" parameterType="Rates">
		update rates
		<set>
			<if test="channelname != null and channelname != ''">
				channelname=#{channelname},
			</if>
			<if test="tradingRates != null and tradingRates != ''">
				tradingRates=#{tradingRates},
			</if>
			<if test="settlementCosts != null and settlementCosts != ''">
				settlementCosts=#{settlementCosts},
			</if>
			<if test="holidayCosts != null and holidayCosts != ''">
				holidayCosts=#{holidayCosts},
			</if>
			<if test="settlementCaps != null and settlementCaps != ''">
				settlementCaps=#{settlementCaps},
			</if>
			<if test="mark != null and mark != ''">
				mark=#{mark}
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>