<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userrates">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		channelname,
		tradingRates,
		settlementCosts,
		userName,
		settlementCaps,
		updateTime
	</sql>
	<!--resultType="userRates" 每返回一条结果封装到userRates里 -->
	<select id="query" resultType="UserRates" parameterType="java.util.HashMap">
		select
		id,
		channelname,
		tradingRates,
		settlementCosts,
		userName,
		settlementCaps,
		updateTime
		from userrates
		<where>
			<if test="t.channelname != null and t.channelname != ''">
				channelname=#{t.channelname}
				</if>
				<if test="t.userName != null and t.userName != ''">
				and userName=#{userName},
				</if>
		</where>
	</select>
	<select id="queryUserRates" resultType="UserRates" parameterType="java.util.HashMap">
		select
		id,
		channelname,
		tradingRates,
		settlementCosts,
		userName,
		settlementCaps,
		updateTime
		from userrates
		<where>
			<if test="t.channelname != null and t.channelname != ''">
				channelname=#{t.channelname}
				</if>
				<if test="t.parentNumber != null and t.parentNumber != ''">
				and userName in (select u.userName from user u where u.parentNumber = #{t.parentNumber})
				</if>
		</where>
	</select>
	<select id="queryAll" resultType="UserRates" parameterType="UserRates">
		select
		<include refid="selectId" />
		from userrates
		<where>
				<if test="userName != null and userName != ''">
				userName=#{userName}
				</if>
		</where>
	</select>
	
	<!-- 总记录数 -->
	<select id="count" parameterType="UserRates" resultType="int">
		select count(0) from userrates
		<where>
			<if test="channelname != null and channelname != ''">
				channelname like '%${channelname}%'
				</if>
			<if test="t.mark != null and t.mark != ''">
				and mark like '%${t.mark}%'
				</if>
		</where>
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="UserRates">
		insert into userrates ( channelname,userName,
		tradingRates, settlementCosts,
		settlementCaps)
		values (#{channelname},#{userName},
		#{tradingRates}, #{settlementCosts},#{settlementCaps})
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from userrates where
		id=#{id}
	</delete>
	<select id="getById" parameterType="String" resultType="UserRates">
		select
		<include refid="selectId" />
		from userrates where id=#{id}
	</select>
	<update id="update" parameterType="UserRates">
		update userrates
		<set>
			<if test="channelname != null and channelname != ''">
				channelname=#{channelname},
			</if>
			<if test="tradingRates != null and tradingRates != ''">
				tradingRates=#{tradingRates},
			</if>
			<if test="settlementCosts != null and settlementCosts != ''">
				settlementCosts=#{settlementCosts},
			</if>
			<if test="userName != null and userName != ''">
				userName=#{userName},
			</if>
			<if test="settlementCaps != null and settlementCaps != ''">
				settlementCaps=#{settlementCaps}
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>