.left_beginc{ text-align:left;}
.cheapbuy_sidec{ background:#efffec;}
.cheapbuy_sidec h1{ /*font-family:"宋体";*/ font-size:14px; color:#666666; line-height:37px; padding-left:10px; font-weight:normal;}
.content_main{}
.content_main h1{ border-bottom:1px solid #ff0000; text-align:center; font-family:微软雅黑,宋体,arial;font-size:17px; font-weight:bold; padding-top:10px;margin:0 10px;}
.content_main h2{ text-align:center; color:#333333;line-height:24px;height:24px;margin:0 10px 10px;padding-left:10px; font-size:12px; font-weight:normal;background:#eee}
.content_mainct{ padding-left:10px;padding-right:5px;font-family:宋体,arial;font-size:15px;line-height:22px;overflow:hidden;}
.content_mainct p{ font-size:15px;line-height:22px;font-family:宋体,arial;/*text-indent:26px;*/ overflow:hidden;}
.news_sidec{background:#efffec; display:block; clear:left; text-align:center; padding-top:5px;}
.news_sidec span{ margin-top:5px; display:block;}

#news_morec1{
	position:absolute;
	left: 410px;
	top:597px\9;*top:598px;_top:612px;
}
#news_more2c{
	position:absolute;
	left: 410px;
	top:711px\9;*top: 712px;_top: 729px;
}
#news_more3c{
	position:absolute;
	left: 410px;
	top:826px\9;*top:827px;_top:837px;
}

/*认证页面*/

.rz_nav{margin:0 auto; text-align:left;}
.rz_shuoming{margin:0 auto;}
.rz_smr{margin:0 auto; display:block;}
.rzsm_ct{ background:url(./images/rzsm_3.gif) no-repeat; text-align:left; clear:both;}
.banan_time{ color:#FFFFFF; font-size:14px; font-weight:bold; margin:42px 0px 0px 34px; display:block; line-height:25px;}
.web_jbct{ font-size:12px; color:#FFFFFF; margin:35px 0px 0px 34px; display:block; line-height:22px;}
.online_lxr{ display:block; float:left; color:#FFFFFF; font-size:14px; font-weight:bold; line-height:22px;margin:42px 0px 0px 15px;}
.rzsm_ctleft{ width:347px; display:block; float:left;}
.rz_smfooter{ text-align:left; background:#2a2a2a; clear:both;margin:0 auto; float:left;}
.sm_fct{ text-align:left; color:#f6d631; padding-left:36px; line-height:19px; padding-top:3px;}
.rz_main2{ clear:both;margin:0 auto;}
.about_bz{ background:#efffec;}
.about_bzct{ text-align:left; padding:14px 0px 0px 11px; text-indent:24px; color:#086d2e; background:#FFFFFF; line-height:23px; overflow:hidden; margin:auto;}
.chengnuo{ text-align:left; background:#efffec;}
.chengnuo h1{ text-align:left; float:left; clear:both;}
.chengnuo_ct{text-align:left; padding:14px 0px 0px 11px; color:#086d2e; background:#FFFFFF; line-height:23px; overflow:hidden; margin:auto;}

/*内容收藏*/
.favor{float:right;padding-right:20px;font-weight:normal;}
.favor a{color:#33f;font-size:13px;font-weight:normal;}
.shop_search .bgt li{padding-left:18px;background:url(./images/lamp.gif) no-repeat 0 0;}

.search_list dt{padding-left:10px}
.search_list b{color:#00f;font-size:13px;text-decoration:underline;}
#pages{text-align:center;}
#pages a{padding:0 10px;}

/*左侧快速跳转*/
.ts_1 , .ts_2{z-index:20;position:fixed;top:215px;left:50%;margin-left:-484px;}
.ts_1 , .ts_2{_position:absolute; _top:expression(215 + documentElement.scrollTop +"px");}
.ts_1{ font-size:12px; color:#000; text-align:left;background:transparent url(images/floatmenu1.jpg) no-repeat scroll 0 0 ;_background:transparent url(images/floatmenu1.jpg) no-repeat scroll 0 0 ;height:313px;width:116px;}
.ms{ height:25px; display:block; padding-left:30px;font-size:14px;}
.yl{height:35px; display:block; padding-left:33px; font-size:14px;}
.mr{height:27px; display:block; padding-left:37px; font-size:14px;}
.wg{height:33px; display:block; padding-left:86px; font-size:14px; line-height:33px;}
.fhdb{  padding-left:32px; font-size:12px; color:#FFF; text-align:center; line-height:8px;}
.fhdb a{ color:#FFF;}
.fhdb a:hover{ color:#FFF;}
.ms a,.yl a,.mr a,.wg a{ color:#FF0;}
.ms a:hover,.yl a:hover,.mr a:hover,.wg a:hover{ color:#fff;}
.ms_1{ width:24px; height:18px; margin-top:41px; display:block;}
.yl_1{ width:24px; height:16px; margin-top:11px; display:block;}
.mr_1{ width:24px; height:22px; margin-top:13px; display:block;}
.wg_1{ width:24px; height:17px; margin-top:13px; display:block;}
.fhdb_1{ width:24px; height:25px; margin-top:10px; display:block;}
.imgh{margin-top:38px;padding-left:30px;}
.im315{padding-left:35px;padding-top:12px;}
.imsearch{padding-left:40px;padding-top:6px;padding-bottom:3px;}
/*左侧快速跳转 end */

/*quicksearch channel*/
#sqcon li{float:left;list-style:none;}
#sqcon li a{border:1px solid #ccc;background:#eee;margin:8px 10px;padding:5px 10px;display:block;}


